POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s
POSTGRES_PORT=

TELEGRAM_BOT_TOKEN=
TG_CHAT_ID=

HONEY_DAY_INTERVAL=40m
HONEY_DAY_MAX_HONEY_GIFT=70
HONEY_DAY_MIN_HONEY_GIFT=25

BAD_BEES_INTERVAL=30m
BAD_BEES_RECENT_PERIOD=20m
BAD_BEES_MAX_STING_PERCENT=25